.facial-landmarks-container {
    background: url('../assets/Pg4.jpg');
    background-size: cover;
    height: 100vh;
}

.photo-container {
    position: relative;
    margin: 50px auto;
    #scaled-uploaded-photo {
        opacity: 0;
    }
    .accessory-option {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        text-align: 'center';
    }
}
.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    h2 {
        margin: 0 5px;
    }
}