.avatar-generator-container {
    background: url('../assets/Pg4.jpg');
    background-size: cover;
    background-position: top;
    height: 1000px;
    margin: 0 auto;
    input[type="file"] {
        display: none;
    }
    .avatar-generator {
        display: flex;
        position: relative;
        .avatar-options-selection-panel {
            background-color: rgba(240, 248, 255, 0.639);
            margin: 0 0 20px 20px;
            padding-top: 25px;
            padding-bottom: 15px;
            border-radius: 5px;
            position: absolute;
            z-index: 110;
            .avatar-options-container {
                h2 {
                    text-transform: uppercase;
                }
                .option-button-container {
                    display: flex;
                    width: 330px;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0 auto;
                    p {
                        width: 100px;
                        text-align: right;
                    }
                    .buttons-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 25px;
                        .MuiButton-root {
                            font-family: 'Komika';
                            font-size: var(--medium-font-size);
                            min-width: 0;
                            span.MuiButton-label {
                                width: 30px;
                            }
                        }
                        h3 {
                            width: 130px;
                            margin: 0 5px;
                            &.disabled {
                                color: gray;
                            }
                        }
                    }
                }
            }
        }
        .set-costumes-options-panel {
            background-color: rgba(240, 248, 255, 0.639);
            margin: 0 20px 20px 0;
            padding: 30px 0;
            width: 300px;
            border-radius: 5px;
            position: absolute;
            right: 0;
            z-index: 110;
            display: flex;
            flex-direction: column;
            align-items: center;
            .set-costume-button-container {
                margin: 5px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 150px;
            }
        }
        .photo-container {
            position: relative;
            margin: 0 auto;
            margin-bottom: 50px;
            #scaled-uploaded-photo {
                opacity: 0;
            }
            .accessory-option {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                text-align: 'center';
            }
        }
        .warning-container,
        .instruction-container {
            margin-left: 370px;
            margin-right: 350px;
            h2 {
                text-align: left;
                color: wheat;
            }
        }
    }
}

.MuiButton-root{
    &.upload-button,
    &.print-button {
        width: 100%;
        background-color: black;
        font-family: 'Komika';
        font-size: var(--very-big-font-size);
        color: white;
        border-bottom: 4px solid white;
        margin-bottom: 20px;
        position: relative;
        z-index: 110;
        &:hover,
        &:disabled {
            color: black;
            background-color: gainsboro;
        }
    }
    &.print-button {
        border-top: 4px solid white;
    }
    &.open-selection-panel-button,
    &.open-set-costumes-panel-button {
        font-family: 'Komika';
        font-size: var(--big-font-size);
        position: absolute;
        z-index: 110;
        background-color: black;
        color: white;
        overflow-x: hidden;
        p {
            margin: 0;
        }
    }
    &.open-set-costumes-panel-button {
        right: 0;
    }
    &.close-selection-panel-button,
    &.close-set-costumes-panel-button {
        position: absolute;
        left: 2px;
        top: 2px;
        background-color: black;
        color: white;
    }
    &.close-set-costumes-panel-button {
        left: auto;
        right: 2px;
    }
    &.set-costume-button {
        width: 40px;
        min-width: 0;
        height: 40px;
    }
    &.random-generator-button {
        font-family: 'Komika';
        font-size: var(--medium-font-size);
        width: 250px;
        background: linear-gradient(135deg, white, #e66465, aqua, whitesmoke);
        margin: 2px 0;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
    }
    button.MuiButton-root {
        display: none;
    }
    .avatar-generator-container {
        width: 100%;
        height: 24.7cm;
        padding-top: 20px;
        .avatar-generator {
            margin: 0 auto;
            .avatar-options-selection-panel,
            .set-costumes-options-panel {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .avatar-generator-container {
        .avatar-generator {
            .instruction-container {
                margin: 100px 50px auto;
            }
        }
    }
}
